<section class="page-container">
    <h2>All Snippets</h2>
    <% if @code_snippets.empty? %>
        <p>No one has uploaded any code yet!</p>
    <% else %>
    <div class="snippet-grid">
        <% @code_snippets.each do |snippet| %>
            <%= render 'card', snippet: snippet %>
        <% end %>
    </div>
    <% end %>
</section>