.comment-form {
  width: 100%;
  margin: 1rem 0;
  background-color: #fff;
  border: var(--border-light);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.comment-form form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.comment-form textarea {
  flex: 1;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  padding: 0.5rem 1rem;
  background-color: #fff;
  resize: none;
  transition: all 0.1s ease;
}

.comment-form textarea:focus {
  outline: none;
  box-shadow: var(--shadow-inset);
}

.comment-form:focus-within {
  box-shadow: var(--ring-focus);
}

.comment-form input[type='submit'] {
  background-color: var(--accent-color-1);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in;
}

.comment-form input[type='submit']:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 8px #3335;
}

/* Comment List  */

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.comment {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.25rem;
  background-color: #fff;
  border: var(--border-light);
  border-radius: 12px;
}

.comment__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.8rem;
}

.comment__header {
  display: flex;
  justify-content: space-between;
}

.comment__infos {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.comment__author {
  font-weight: 500;
  font-size: 1.1rem;
}

.comment__date {
  color: var(--gray);
  font-size: var(--fontSmall);
}

.comment__body {
  padding: 0.25rem;
  font-size: 1.3em;
}

.comment__voting {
  display: flex;
  flex-direction: column;
  background-color: #eee4;
  border-radius: 4px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  color: blueviolet;
}

.comment__voting button {
  width: 30px;
  font-size: 1.5em;
  color: #aaa;
  border: none;
  background: none;
}

.comment__voting button:hover,
.comment__voting button:active {
  transform: scale(1.2);
}

.del-btn {
  background: none;
  color: crimson;
  padding: 0.25em;
  border: solid 1px crimson;
  border-radius: 2px;
  transition: all 0.2s ease;
}

.del-btn:hover {
  background: crimson;
  color: #fff;
}
