.user-page-container {
  margin: 3rem 5rem;
}

.users-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 1rem auto;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3rem 1rem;
  background-color: rgb(255, 255, 255);
  margin: 1rem 0;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(86, 86, 86, 0.094);
}

.user-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(86, 86, 86, 0.607);
}

.user-bio {
  font-size: 0.85rem;
  text-align: center;
}

.user-value-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2rem 0;
}

.user-values {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99%;
}

.view-profile {
  background-color: rgb(166, 158, 255);
  color: rgb(255, 255, 255);
  padding: 0.7rem 2rem;
  border-radius: 20px;
  border: none;
}

.value {
  font-size: 1rem;
  font-weight: 600;
}

.value-name {
  font-size: 0.8rem;
}

.contributor {
  display: flex;
  position: relative;
  margin: 3% 10%;
  width: 80%;
}

.edit-profile {
  position: absolute;
  top: 17%;
  left: 10rem;
  background: rgb(106, 106, 244);
  background: linear-gradient(90deg, rgba(106, 106, 244, 1) 35%, rgba(141, 82, 195, 1) 100%);
  color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0 10px 15px rgba(89, 88, 88, 0.729);
}

.contributor-details-image {
  width: 12rem;
  height: 12rem;
}

.contributor-title {
  margin-top: 10%;
}

.contributor-left {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.contributor-right {
  width: 75%;
  display: grid;
  gap: 2rem;
}

.contributor-snippet-card {
  display: flex;
  flex-direction: column;
  padding: 2%;
  height: 20rem;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.contributor-snippet-card:hover {
  box-shadow: 10px 18px 25px rgba(140, 98, 143, 0.29);
}

.contributor-snippet-header h3,
.link-arrow,
.snippet-item__menu-btn {
  font-size: 1.1rem;
}

@media screen and (min-width: 1920px) {
  .users-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 991px) {
  .users-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .users-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .user-page-container {
    margin: 2rem;
  }
}
