<%= render 'header' %>

<section class="hero-section">
    <h2>Write better code with Code Snippets</h2>
    <p>Find and share code snippets to help you solve problems and save time. Join our community of developers today.</p>
    <%= link_to "Browse Snippets", code_snippets_path, class: "btn btn-primary" %>
</section>

